@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 100;
  src: url('./NotoSansTC-Thin.otf');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 300;
  src: url('./NotoSansTC-Light.otf');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 400;
  src: url('./NotoSansTC-Regular.otf');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 500;
  src: url('./NotoSansTC-Medium.otf');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 700;
  src: url('./NotoSansTC-Bold.otf');
}

@font-face {
  font-family: 'Noto Sans TC';
  font-weight: 900;
  src: url('./NotoSansTC-Black.otf');
}
