@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import 'assets/fonts/NotoSansTC/all';

// 1. Import the initial variables
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// // 2. Set your own initial variables
// // Update blue
// $blue: #72d0eb;
// // Add pink and its invert
// $pink: #ffb3b3;
// $pink-invert: #fff;
// // Add a serif family
// $family-serif: 'Merriweather', 'Georgia', serif;
$family-sans-serif: 'Nunito', 'Noto Sans TC', 'Microsoft JhengHei', sans-serif;
$menu-list-link-padding: 0.5em 1.85em;



// // 3. Set the derived variables
// // Use the new pink as the primary color
// $primary: $pink;
// $primary-invert: $pink-invert;
// // Use the existing orange as the danger color
// $danger: $orange;
// // Use the new serif family
// $family-primary: $family-serif;
$menu-item-active-background-color: $grey-light;

// // 4. Setup your Custom Colors
// $linkedin: #0077b5;
// $linkedin-invert: findColorInvert($linkedin);
// $twitter: #55acee;
// $twitter-invert: findColorInvert($twitter);
// $github: #333;
// $github-invert: findColorInvert($github);

// // 5. Add new color variables to the color map.
// @import '~bulma/sass/utilities/derived-variables';
// $add-colors: (
//   'twitter':($twitter, $twitter-invert),
//   'linkedin': ($linkedin, $linkedin-invert),
//   'github': ($github, $github-invert)
// );
// $colors: map-merge($colors, $add-colors);

// 6. Import the rest of Bulma
@import-normalize;
@import '~bulma/bulma.sass';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~aos/dist/aos.css';

// Custom Style
// make columns has full height without navbar

.banner {
  background-image: url('./assets/banner.jpg');
  background-position: center;
  background-size: cover;
}

.title-border {
  border-bottom: 5px solid $primary;

  .hero.is-primary & {
    border-color: $light;
  }
}

.border-box {
  background-color: rgba(250, 250, 250, 0.6);
  border: 5px double $white;
  margin: auto;
  min-width: 260px;
  width: 50vw;
}

.m-auto {
  margin: auto;
}
